:root {
    color-scheme: light dark;

    --bg-primary: light-dark(#fff, #333);
    --fg-primary: light-dark(#000, #eee);
    --separator: 1px solid color-mix(in srgb, currentColor 20%, transparent);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
}

html,
body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    color: var(--fg-primary);
    background: var(--bg-primary);
}

#app {
    --pad: 1rem;

    & > header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 var(--pad);
        height: 3rem;
        border-bottom: var(--separator);

        & > h1 {
            font-size: 1.5em;
        }
    }

    & > main .section {
        padding: var(--pad);
    }
}